@media (min-width: $grid-float-breakpoint) {
  .open .dropdown-toggle {
    &:after {
      content: '';
      position: absolute;
      bottom: -10px;
      right: 12px;
      border: 6px solid transparent;
      border-bottom: 6px solid #fff;
    }
  }
  
  .dropdown-menu {
    border-top: transparent;
    @include box-shadow(0 3px 6px rgba(0, 0, 0, .1));
    
    > li > a {
      padding: 7px 20px;
    }
  }
}