//.notification {
//  max-width: 500px;
//  position: absolute;
//  right: 15px;
//  top: 50%;
//  transform: translateY(-50%);
//}

.notification {
  max-width: 500px;
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 999;
  transform: translateY(-50%);
}